- var config = { title: 'CSS3 Patterns Gallery' }
- var patterns = []
- patterns.push({ name: 'Microbial Mat', class: 'microbial-mat', cssFile: 'microbial-mat.css', authorName: 'Logan McBroom', authorUrl: 'http://logan.mcbroom.me' })
- patterns.push({ name: 'Stairs', class: 'stairs', cssFile: 'stairs.css', authorName: 'Logan McBroom', authorUrl: 'http://logan.mcbroom.me' })
- patterns.push({ name: 'Half-Rombes', class: 'half-rombes', cssFile: 'half-rombes.css', authorName: 'Valentin Agachi', authorUrl: 'http://agachi.name' })
- patterns.push({ name: 'Arrows', class: 'arrows', cssFile: 'arrows.css', authorName: 'Jeroen Franse', authorUrl: 'http://twitter.com/jroenf' })
- patterns.push({ name: 'Zig-Zag', class: 'zig-zag', cssFile: 'zig-zag.css', authorName: 'eCSSpert', authorUrl: 'http://twitter.com/ecsspert' })
- patterns.push({ name: 'Weave', class: 'weave', cssFile: 'weave.css', authorName: 'Jeroen Franse', authorUrl: 'http://twitter.com/jroenf' })
- patterns.push({ name: 'Upholstery', class: 'upholstery', cssFile: 'upholstery.css', authorName: 'Nate Eagle', authorUrl: 'http://nateeagle.com' })
- patterns.push({ name: 'Starry night', class: 'starry-night', cssFile: 'starry-night.css', authorName: 'Lea Verou', authorUrl: 'http://lea.verou.me' })
- patterns.push({ name: 'Marrakesh', class: 'marrakesh', cssFile: 'marrakesh.css', authorName: 'Divya Manian', authorUrl: 'http://nimbupani.com' })
- patterns.push({ name: 'Rainbow bokeh', class: 'rainbow-bokeh', cssFile: 'rainbow-bokeh.css', authorName: 'Auke Zwart', authorUrl: 'http://twitter.com/okke29' })
- patterns.push({ name: 'Carbon', class: 'carbon', cssFile: 'carbon.css', authorName: 'Atle Mo (design), Sébastien Grosjean (code)', authorUrl: 'http://www.zencocoon.com' })
- patterns.push({ name: 'Carbon fibre', class: 'carbon-fibre', cssFile: 'carbon-fibre.css', authorName: 'Atle Mo (design), Lea Verou (code)', authorUrl: 'http://subtlepatterns.com/#post-22' })
- patterns.push({ name: 'Hearts', class: 'hearts', cssFile: 'hearts.css', authorName: 'Lea Verou', authorUrl: 'http://lea.verou.me' })
- patterns.push({ name: 'Argyle', class: 'argyle', cssFile: 'argyle.css', authorName: 'Anna Kassner', authorUrl: 'http://annamation.ca' })
- patterns.push({ name: 'Steps', class: 'steps', cssFile: 'steps.css', authorName: 'Nicolas Gallagher', authorUrl: 'http://nicolasgallagher.com' })
- patterns.push({ name: 'Waves', class: 'waves', cssFile: 'waves.css', authorName: 'Lea Verou', authorUrl: 'http://lea.verou.me' })
- patterns.push({ name: 'Cross', class: 'cross', cssFile: 'cross.css', authorName: 'Lea Verou', authorUrl: 'http://lea.verou.me' })
- patterns.push({ name: 'Yin Yang', class: 'yin-yang', cssFile: 'yin-yang.css', authorName: 'Lea Verou', authorUrl: 'http://lea.verou.me' })
- patterns.push({ name: 'Stars', class: 'stars', cssFile: 'stars.css', authorName: 'Nicolas Gallagher', authorUrl: 'http://nicolasgallagher.com' })
- patterns.push({ name: 'Brady Bunch', class: 'brady-bunch', cssFile: 'brady-bunch.css', authorName: 'Estelle Weyl', authorUrl: 'http://www.standardista.com' })
- patterns.push({ name: 'Shippo', class: 'shippo', cssFile: 'shippo.css', authorName: 'Lea Verou', authorUrl: 'http://lea.verou.me' })
- patterns.push({ name: 'Bricks', class: 'bricks', cssFile: 'bricks.css', authorName: 'Tab Atkins Jr', authorUrl: 'http://www.xanthir.com/blog' })
- patterns.push({ name: 'Seigaiha', class: 'seigaiha', cssFile: 'seigaiha.css', authorName: 'Lea Verou', authorUrl: 'http://lea.verou.me' })
- patterns.push({ name: 'Japanese cube', class: 'japanese-cube', cssFile: 'japanese-cube.css', authorName: 'Lea Verou', authorUrl: 'http://lea.verou.me' })
- patterns.push({ name: 'Polka dot', class: 'polka-dot', cssFile: 'polka-dot.css', authorName: 'Lea Verou', authorUrl: 'http://lea.verou.me' })
- patterns.push({ name: 'Houndstooth', class: 'houndstooth', cssFile: 'houndstooth.css', authorName: 'Antoine Bernier', authorUrl: 'http://abernier.name' })
- patterns.push({ name: 'Checkerboard', class: 'checkerboard', cssFile: 'checkerboard.css', authorName: 'Lea Verou', authorUrl: 'http://lea.verou.me' })
- patterns.push({ name: 'Diagonal checkerboard', class: 'diagonal-checkerboard', cssFile: 'diagonal-checkerboard.css', authorName: 'Lea Verou', authorUrl: 'http://lea.verou.me' })
- patterns.push({ name: 'Tartan', class: 'tartan', cssFile: 'tartan.css', authorName: 'Marta Armada', authorUrl: 'http://swwweet.com' })
- patterns.push({ name: 'Madras', class: 'madras', cssFile: 'madras.css', authorName: 'Divya Manian', authorUrl: 'http://nimbupani.com' })
- patterns.push({ name: 'Lined paper', class: 'lined-paper', cssFile: 'lined-paper.css', authorName: 'Sarah Backhouse', authorUrl: 'http://www.jadu.net' })
- patterns.push({ name: 'Blueprint grid', class: 'blueprint-grid', cssFile: 'blueprint-grid.css', authorName: 'Lea Verou', authorUrl: 'http://lea.verou.me' })
- patterns.push({ name: 'Tablecloth', class: 'tablecloth', cssFile: 'tablecloth.css', authorName: 'Lea Verou', authorUrl: 'http://lea.verou.me' })
- patterns.push({ name: 'Diagonal stripes', class: 'diagonal-stripes', cssFile: 'diagonal-stripes.css', authorName: 'Lea Verou', authorUrl: 'http://lea.verou.me' })
- patterns.push({ name: 'Cicada stripes', class: 'cicada-stripes', cssFile: 'cicada-stripes.css', authorName: 'Randy Merrill', authorUrl: 'http://forthedeveloper.com' })
- patterns.push({ name: 'Vertical stripes', class: 'vertical-stripes', cssFile: 'vertical-stripes.css', authorName: 'Lea Verou', authorUrl: 'http://lea.verou.me' })
- patterns.push({ name: 'Horizontal stripes', class: 'horizontal-stripes', cssFile: 'horizontal-stripes.css', authorName: 'Lea Verou', authorUrl: 'http://lea.verou.me' })
- patterns.push({ name: 'Diamond Ground', class: 'diamond-ground', cssFile: 'diamond-ground.css', authorName: 'Ee Venn Soh', authorUrl: 'http://be.net/vennsoh' })
- patterns.push({ name: 'Atomic Mesh', class: 'atomic-mesh', cssFile: 'atomic-mesh.css', authorName: 'Maarten v/d Velde', authorUrl: 'http://www.ideogram.nl' })
- patterns.push({ name: 'triangles in 7 colors', class: 'triangles-in-7-colors', cssFile: 'triangles-in-7-colors.css', authorName: 'Maarten v/d Velde', authorUrl: 'http://www.ideogram.nl' })
- patterns.push({ name: 'HoneyComb', class: 'honeycomb', cssFile: 'honeycomb.css', authorName: 'Paul Salentiny' })
- patterns.push({ name: 'Wave', class: 'wave', cssFile: 'wave.css', authorName: 'Paul Salentiny' })
- patterns.push({ name: 'Pyramid', class: 'pyramid', cssFile: 'pyramid.css', authorName: 'Paul Salentiny' })
- patterns.push({ name: 'Chocolate Weave', class: 'chocolate-weave', cssFile: 'chocolate-weave.css', authorName: 'Paul Salentiny' })
- patterns.push({ name: 'Triangles', class: 'triangles', cssFile: 'triangles.css', authorName: 'Paul Egan', authorUrl: 'http://paulegan.org' })
- patterns.push({ name: 'Triangle Gradient', class: 'triangle-gradient', cssFile: 'triangle-gradient.css', authorName: 'Paul Egan', authorUrl: 'http://paulegan.org' })
doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title=config.title
		link(rel="stylesheet", href="css/style.css")
		- each pattern in patterns
			link(rel="stylesheet", href="../dist/css/"+pattern.cssFile)
	body
		ul#help
			li Click on a pattern to expand
			li Textareas are editable
			li <a href="#browser-support">Browser support</a>
			li <a href="#new-submissions">Submit a new one</a>
			li <a href="https://github.com/BillyNate/css-spreading-shapes">Github repo</a>
			li Enjoy!
		ul#patterns
			- each pattern in patterns
				li(class="bgpattern-"+pattern.class, id=pattern.class)
					div
						h2
							a(href="#"+pattern.class)=pattern.name
							span.bytesize=" ("+asyncData[pattern.cssFile]+")"
						a.close(href="#") ✖
						p
							- if(pattern.authorUrl)
								a(href=pattern.authorUrl)="by "+pattern.authorName
							- else
								= "by "+pattern.authorName
						textarea(wrap="off", spellcheck="false", rows="1")
							link(rel="stylesheet", href="css/"+pattern.cssFile)
		h2#browser-support Browser support
		p The patterns themselves should work on <strong>Firefox 3.6+</strong>, <strong>Chrome</strong>, <strong>Safari 5.1</strong>, <strong>Opera 11.10+</strong> and <strong>IE10+</strong>. However, implementation limitations might cause some of them to not be displayed correctly even on those browsers (for example at the time of writing, Gecko is quite buggy with radial gradients).
		p Also, this gallery won’t work in Firefox 3.6 and IE10, even though they support gradients, due to a JavaScript limitation.
		h2#new-submissions Submission guidelines
		p If you have a new pattern to submit, please <a href="https://github.com/BillyNate/css-spreading-shapes">send a pull request</a>. However, please bear in mind that I can't accept all submissions, sorry for that. For a pattern to be accepted, the following factors are considered (in descending order of importance):
		ul
			li Does it present a new technique?
			li Is the number of gradients and color stops worth the effect? The whole point of those patterns is to make page loading faster by reducing file size and HTTP requests without the unreadable gibberish that data URIs add in our stylesheets. If your pattern needs a 2KB code for example (which becomes 10KB when used in production, due to all the prefixes), then it's not very useful, except serving as a proof of concept.
			li How common is the pattern?
			li Does it look nice?
		script(src="js/css3patterns.js")